[submodule "app/src/main/cpp/llama.cpp"]
	path = app/src/main/cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "app/src/main/cpp/hoshidicts"]
	path = app/src/main/cpp/hoshidicts
	url = https://github.com/Manhhao/hoshidicts.git
	branch = main-mit
